* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header {
    min-height: 50px;
    width: 100%;
    position: fixed;
    color: #FFFFFF;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 1s;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-scroll {
    background: black;
    opacity: 0.8;
}

.header-internal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.header-logo {
    cursor: pointer;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.header-menu {
    width: 40%;
}

.header-menu ul {
    display: flex;
    justify-content: space-between;
}

.header-menu ul li {
    margin: 8px;
    display: flex;
    list-style: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

header span:hover {
    color: #C0301C;
    transition: 0.3s;
}

.header-menu ul li:hover {
    color: #C0301C;
    transition: 0.3s;
}

.top {
    font-size: 22px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: url("images/top-bg.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

.top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    left: 0;
    top: 0;
}

.top-title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.top-internal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-subtitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
}

.top-button {
    display: inline-block;
    border: #FFFFFF 2px solid;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

.top-button:hover {
    color: #000000;
    cursor: pointer;
    border: #000000 2px solid;
}

.services {
    width: 80%;
    margin: 5% auto;
}

.services-paragraph {
    margin-top: 4%;
    width: 300px;
    color: #878787;
}

.services-titles {
    width: 100%;
    text-align: center;
}

.services-title {
    font-size: 25px;
    color: #575757;
    font-family: 'Montserrat', sans-serif;
}

.services-structure {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
}

.dash {
    height: 2px;
    width: 100px;
    background-color: #575757;
    margin: 2% auto;
}

.works-imges {
    display: flex;
    flex-wrap: wrap;
}

.services-subtitle {
    color: #575757;
}

.services-icon:hover {
    background-color: #C0301C;
}

.services-icon:hover svg {
    fill: #fff;
}

.services-icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 130px;
    height: 130px;
    border: #878787 1px solid;
    border-radius: 50%;
    transition: all 0.3s;
}

.services-icon svg {
    width: 53px;
    height: 49px;
    fill: rgb(192, 48, 28);
    transition: all 0.3s;
}

.icon-content {
    margin: 10%;
}

.services-text {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    width: 300px;
    text-align: center;
}

.services-text h3 {
    font-family: 'Montserrat', sans-serif;
}

#about {
    width: 100%;
    text-align: center;
    margin: 5% auto;
    background-color: #F8F8F8;
    color: #575757;
    padding: 10% 0 10% 0;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.about-text {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin: 2% auto;
    width: 70%;
    padding: 0 2%;
    display: flex;
    justify-content: space-evenly;
}

.slider {
    position: relative;
    display: flex;
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.slider-structure {
    display: flex;
    justify-content: space-around;
    width: 999999999px;
}

.slider-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.slider-img:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.45);
    left: 0;
    top: 0;
}

.slider-img:hover .slider-img-hover {
    display: block;
}

.slider-img svg {
    fill: #F8F8F8;
    width: 20px;
    height: 20px;
    padding: 2px;
    display: inline-block;
    margin: 0 auto;
}

.slider-img-hover {
    display: none;
    position: absolute;
    top: 75%;
    left: 30%;
}

.slider-img-hover svg:hover {
    background: #C0301C;
}

.slider-arrow {
    fill: #878787;
}

.prev, .next {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    border: #575757 solid 0;
}

.prev {
    padding: 8px;
    left: 0;
}

.next {
    padding: 8px;
    right: 0;
}

.prev:hover {
    padding: 8px;
    width: 10px;
    height: 10px;
    background: #C0301C;
}

.next:hover {
    padding: 8px;
    width: 10px;
    height: 10px;
    background: #C0301C;
}

.works-images-hover {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F8F8F8;
    line-height: 35px;
}

.works-images-hover-title {
    font-size: 20px;
}

.works-images-hover span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-images-hover-a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C84D3D;
    width: 150px;
    height: 40px;
    background-color: #F8F8F8;
    text-decoration: none;
}

.works-images-hover-a svg {
    fill: #C84D3D;
    width: 10px;
    height: 10px;
    margin-left: 2%;
}

.works-img {
    width: 400px;
    margin: 20px auto;
    position: relative;
}

.works-img:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(192, 48, 28, 0.70);
    left: 0;
    top: 0;
}

.works-img:hover .works-images-hover {
    visibility: visible;
}

.latest-works {
    color: #575757;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.title-works-titles {
    margin: 5% auto;
}

.title-works-title {
    font-family: 'Montserrat', sans-serif;
}

.latest-works-menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.latest-works-menu ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.latest-works-menu ul li {
    margin: 8px;
    list-style: none;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.latest-works-menu ul li:hover {
    color: #c0301c;
    transition: 0.2s;
}

.works-images {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.get-in-touch {
    position: relative;
    color: #FFFFFF;
    width: 100%;
    min-height: 37vh;
    margin: 7% auto;
    background: url("images/get-in-touch.jpg") no-repeat;
    background-size: cover;
}

.get-in-touch:before {
    background: rgba(192, 48, 28, 0.70);
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.get-in-touch-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.get-in-touch-title {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.get-in-touch-subtitle {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.get-in-touch-button {
    text-align: center;
    display: inline-block;
    border: #FFFFFF 4px solid;
    padding: 10px 25px;
    margin: 30px auto;
    cursor: pointer;
}

.get-in-touch-button:hover {
    border: #000000 4px solid;
    padding: 10px 25px;
    margin: 30px auto;
    color: #000000;
}

.blog {
    width: 70%;
    margin: 10% auto;
    color: #575757;
}

.blog-titles {
    width: 100%;
    text-align: center;
    color: #575757;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

.blog-subtitles {
    font-family: 'Roboto Slab', serif;
}

.blog-img {
    width: 35%;
}

.blog-text {
    width: 65%;
    margin-left: 5%;
    font-family: 'Roboto Slab', serif;
}

.blog-content {
    display: flex;
}

.date-subtitle {
    display: flex;
    align-items: flex-start;
}

.date {
    font-size: 20px;
    border: 2px #575757 solid;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.date span {
    font-family: 'Montserrat', sans-serif;
}

.blog-subtitle {
    margin-left: 5%;
}

.read-more {
    display: inline-block;
    width: 100px;
    margin-top: 3%;
}

.blog-text-subtitle {
    font-family: 'Montserrat', sans-serif;
}

.blog-hover {

    padding-bottom: 10px;
}

.blog-content1:hover .blog-hover {
    color: #C0301C;
}

.blog-content2:hover .blog-hover {
    color: #C0301C;
}
.line {
    height: 2px;
    background-color: #575757;
    margin: 2% auto;
    width: 100%;
}
.slider-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40vh;
    background-color: #F8F8F8;
    color: #575757;
    position: relative;
}

.brands {
    height: 60px;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.brand {
    margin: 10px;
    display: flex;
    align-items: center;
}
.slider-bottom-texts span {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-bottom-texts {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-bottom-text3 {
    margin: 1%;
    font-size: 22px;
}

.slider-bottom-text2 {
    margin: 1%;
}

.inner-text {
    text-align: center;
    opacity: 0;
    font-family: 'Roboto Slab', serif;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
.slider-bottom-contraction{
    position: relative;
    width: 100%;
}

.slider-bottom-dot {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100px;
}

.slider-bottom-dot div {
    margin: 0 auto;
    background-color: #575757;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.slider-bottom-dot div:hover {
    background-color: #C0301C;
    cursor: pointer;
    transition: 1s;
}
.show {
    opacity: 1;
}

.information-field {
    display: flex;
    justify-content: space-evenly;
}

.information-title {
    color: #575757;
    margin: 5% auto;
    width: 100%;
    text-align: center;
}

.information {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    color: #878787;
}

.registration input {
    border: 1px solid black;
}

.information-inp {
    width: 43%;
    height: 20px;
    padding: 8px;
}

#inp-message {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 150px;
}

.registration {
    width: 30%;
}

.registration-line {
    margin-top: 3%;

}

.reg {
    display: flex;
    justify-content: space-between;
}

.information-btn button {
    border: black solid 1px;
    width: 130px;
    height: 50px;
    padding: 5px;
    background-color: #FFFFFF;
}

.registration-epilogue {
    color: #878787;
}

footer {
    padding: 5vh 0;
    margin-top: 5%;
    text-align: center;
    color: white;
    width: 100%;
    min-height: 5vh;
    background-color: #C0301C;
}

.footer-dash {
    background-color: #FFFFFF;
    height: 2px;
    width: 100px;
    margin: 1% auto;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icon {
    margin: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.footer-icon svg {
    fill: white;
    width: 20px;
    height: 20px;
}
