.hamburger-menu {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.hamburger-menu-dash {
    width: 60%;
    height: 7px;
    background-color: white;
    border-radius: 30%;
}
.header-menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: black;
    opacity: 0.9;
    color: white;
    transition: 1s;
}
.header-menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.header-menu ul li {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;

}

.header-menu-mobile {
    height: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
}

.header-menu-mobile ul {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
}

.header-menu-mobile ul li {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    display: block;
}

.header-menu-mobile ul li:hover {
    color: darkred;
}

.slider-img{
    height: 140px;
}
.slider-img svg {
    margin: 0 auto;
    padding: 0;
}

.services-text {
    width: 100%;
}

.latest-works ul {
    display: block;
}

.blog-subtitle {
    width: 100vh;
    display: block;
}

.blog-titles {
    display: block;
}

.blog-img {
    display: block;
    width: 100%;
    min-height: 200px;
}

.blog-text {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

.services-structure {
    display: flex;
    flex-direction: column;
}
.services-paragraph{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.icon-content {
    margin: 3%;
}
.services-text {
    margin-bottom: 3%;
}
.about-text {
    flex-direction: column;
    text-align: center;
}
.get-in-touch-title {
    font-size: 20px;
}
.get-in-touch-subtitle {
    font-size: 15px;
}
.brand {
    margin: 11px;
    width: 70px;
}

.footer-dash {
    background-color: #FFFFFF;
    height: 2px;
    width: 100px;
    margin: 5% auto;
}
.slider-bottom-dot {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
.information-field {
    display: block;
}
.information {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 20px;
}
.information h3{
    margin: 20px;
}
.contact{
    margin: 25px 0 25px;
    width: 400px;
}
.registration {
    margin: 0 auto;
    width: 90%;
}
.registration input{
    border: black solid 2px;
}
.registration-epilogue {
    display: block;
    text-align: center;
}

#inp-message {
    box-sizing: border-box;
    padding: 10px;
}

.registration-line button{
    display: block;
    margin: 10px auto;
}
