
.hamburger-menu {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 15%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

.hamburger-menu-dash {
    width: 60%;
    height: 7px;
    background-color: white;
    border-radius: 30%;
}

.header-menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: black;
    opacity: 0.9;
    color: white;
    transition: 1s;
}
.header-menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.header-menu ul li {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;

}

.header-menu-mobile {
    height: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
}

.header-menu-mobile ul {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
}

.header-menu-mobile ul li {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    display: block;
}

.header-menu-mobile ul li:hover {
    color: darkred;
}

.services-text {
    width: 100%;
}

.latest-works ul {
    display: block;
}

.blog-subtitle {
    width: 100vh;
    display: block;
}

.blog-titles {
    display: block;
}

.blog-img {
    display: block;
    width: 100%;
    min-height: 200px;
}

.blog-text {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

.services-structure {
    display: flex;
    flex-direction: column;
}

.brands {
    display: none;
}

.about-text {
    flex-direction: column;
    text-align: center;
}

.slider-bottom-texts {
    text-align: center;
}